<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="connection.url">
			jdbc:mysql://localhost/alquezar_bdgarita
		</property>

		<property name="connection.username">
			alquezar_root
		</property>

		<property name="connection.password">
			shira007
		</property>

		<property name="connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<property name="dialect">
			org.hibernate.dialect.MySQLDialect
		</property>

		<property name="current_session_context_class">
			thread
		</property>

		<property name="hibernate.show_sql">
			true
		</property>

		<!-- Drop and re-create the database schema on startup create-drop -->
		<property name="hbm2ddl.auto"></property>

		<!-- configuration pool via c3p0 -->
		<property name="c3p0.acquire_increment">4</property>
		<property name="c3p0.idle_test_period">900</property> <!-- seconds -->
		<property name="c3p0.max_size">20</property>
		<property name="c3p0.max_statements">50</property>
		<property name="c3p0.min_size">5</property>
		<property name="c3p0.timeout">1800</property> <!-- seconds -->
		<!-- DEPRECATED very expensive property name="c3p0.validate> -->

		<mapping class="br.com.models.User" />
		<mapping class="br.com.models.Autorizacao" />
		<mapping class="br.com.models.Agreement" />
		<mapping class="br.com.models.Client" />
		<mapping class="br.com.models.Procedure" />
		<mapping class="br.com.models.UserAutorization" />

	</session-factory>

</hibernate-configuration>
